[submodule "lib/noVNC"]
	path = lib/noVNC
	url = https://github.com/novnc/noVNC
[submodule "lib/Rocket"]
	path = lib/Rocket
	url = https://github.com/SergioBenitez/Rocket
	branch = master
[submodule "lib/rocket_auth"]
	path = lib/rocket_auth
	url = https://github.com/tvallotton/rocket_auth.git
